#footer,
#footer-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#footer select,
#footer .icon-button,
#footer-desktop select,
#footer-desktop .icon-button {
  background-color: var(--bg) !important;
  padding: 0.75rem;
}

#footer-buttons,
#footer-desktop,
#download-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: fit-content;
  align-self: flex-end;
}

#footer select,
#footer-desktop select {
  border: none;
  padding: 0;
  background-color: var(--bg);
}

.lang-select select {
  background-color: var(--bg) !important;
}
