#mobile {
  display: none;
}

#mobile p {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-family: var(--body-font);
}

#mobile svg {
  width: 5rem;
  height: 5rem;
  stroke-width: 1px;
}

#small-folder-256 {
  display: none;
}

@media screen and (max-width: 1400px) {
  #left-container {
    width: 50% !important;
    min-width: 0px !important;
  }

  .panel-closed #left-container {
    margin-left: -50%;
  }

  #right-container {
    width: 50% !important;
  }

  .panel-closed #right-container {
    width: 100% !important;
  }
}

@media screen and (max-width: 1400px), screen and (max-height: 720px) {
  #small-folder-64,
  #small-folder-48,
  #big-folder-512 {
    display: none;
  }

  #small-folder-256 {
    display: flex;
  }

  .download-counter {
    font-size: 0.7rem !important;
  }

  .icon-button-label {
    display: none;
  }

  #download-button span {
    display: none;
  }
}

@media screen and (max-width: 979px), screen and (max-height: 499px) {
  #app {
    display: none !important;
  }

  #mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
  }
}
