#panel-toggle {
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
}

#panel-toggle:hover {
  background-color: var(--secondary);
}

#panel-toggle:active {
  background-color: var(--tertiary);
}

#panel-toggle svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 1.5px;
  color: var(--secondary);
}

#panel-toggle:hover svg {
  color: var(--text);
}

.desktop #panel-toggle {
  display: none;
}
