# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
*.log

# macOS
.DS_Store
__MACOSX/

# Windows
desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env variables
.env
.env.local

# Tauri
1.0.0
