.color {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1rem;
}

.color-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.color:hover {
  background-color: var(--accent);
}

.color-fake-input {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: -1.5px;
  border-radius: 0.5rem;
  outline: 1px solid var(--secondary);
  border: 2px solid var(--bg-accent);
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.color-input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.color-value {
  font-size: 0.8rem;
  color: var(--tertiary);
}
