#credits {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.credit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  height: fit-content;
  font-size: 0.8rem;
  width: fit-content;
}

.credit-header {
  margin-bottom: 1rem;
  text-align: right;
  color: var(--tertiary);
  width: fit-content;
}

.credit-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
}

.credit-translation {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.credit-translation-name {
  font-weight: 600;
  color: var(--tertiary);
}

#credits a {
  color: var(--text);
  text-decoration: underline;
}
