#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#footer-buttons,
#footer-desktop,
#download-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: fit-content;
  align-self: flex-end;
}

#footer select {
  border: none;
  padding: 0;
  background-color: var(--bg);
}

.lang-select select {
  background-color: var(--bg-accent) !important;
}
