#header {
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  border: 1px solid var(--accent);
  padding: 1rem;
  background-color: var(--bg-accent);
  justify-content: space-between;
  align-items: center;
}
