#slug-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 0.5rem);
  gap: 1rem;
}

.slug {
  width: 100%;
}

.slug-input-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.slug-button {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

#slug-input-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#slug-input-right-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#folder-icon-preview {
  width: 48px;
  height: 48px;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary);
  background-color: var(--lm-accent);
  padding: 1rem;
}
